#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
    max-height: 365px;
}

.main {
    flex: 5;
}

.side {
    flex: 2;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}